/* MIX */
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
.list-inline {
  list-style: none;
}
.list-inline  li {
  display: inline-block;
}
.app-shop {
  width: 150px;
}
/* HEADER */

/* header top */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  background-color: #fff;
  line-height: 70px;
  font-size: 0.7rem;
}

.logo {
  height: 12px;
}

.main-menu {
  text-align: right;
}
.main-menu li {
  padding-right: 30px;
}
.main-menu li a {
  color: #000;
}

.side-menu {
  text-align: right;
}

.btn {
  padding: 10px 20px;
  margin-left: 15px;
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.hamburger-icon {
  float: right;
  line-height: 70px;
  font-size: 1.4rem;
}

/* Hero */
.hero {
  position: relative;
  height: 625px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .header-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
  color: #fff;
}
h1 {
  font-size: 45px;
  padding: 20px;
}
.hero .header-pic p {
  padding-bottom: 20px;
  font-size: 18px;
}
.hero .header-pic .app-shop {
  margin-left: 30px;
  margin-right: 30px;

}
/* /Hero */

/* Contenuto principale */
/* Vetrina */
.shop-display .container .col-lg-6 {
  /* background-color: #fafafa; */
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 630px;
}
.shop-display .container .col-lg-6 .col-lg-12 {
  background-color: #fafafa;
  height: 100%;
  text-align: center;
}
.shop-display .container .col-lg-6 .col-lg-12 img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.shop-display .container .col-lg-6 .col-lg-12 p {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;

}
.shop-display .container .col-lg-6 .col-lg-12 a {
  color: #0070c8;
  font-size: 20px;
}
.shop-display .container .col-lg-6 .col-lg-12 .showcase {
  width: 100%;
  max-width: 400px;
}
/* Vetrina */

/* banner */
.banner {
  position: relative;
  height: 800px;
  background-image: url(../img/Banner.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.banner img {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 12%
}
.banner .left {
  position: absolute;
  bottom: 100px;
  left: 25%;
  font-size: 24px;
}
.banner .right {
  position: absolute;
  bottom: 100px;
  right: 25%;
  font-size: 18px;
  line-height: 3;
}
/* /banner */

/* Serie di box */
.upper {
  background-image: url(../img/box1.jpg);
  height: 554px;
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.box h2 {
  margin-top: 150px;
  font-size: 45px;
  padding-bottom: 20px;
}
.box p {
  padding-bottom: 20px;
  font-size: 18px;

}
.box a {
  color: #fff ;
  font-size: 20px;
}

.box-2{
  height: 800px;
  padding-right: 20px;
  text-align: center;
}
.box-2 .col-lg-12 {
  background-image: linear-gradient(#405569 , #252f38 );
  height: 100%;
}

.box-2 h2 {
  margin-top: 100px;
  color: #fff;
}
.box-2 a {
  padding-right: 20px;

}


.box-3 {
  height: 800px;
  padding-left: 20px;
  text-align: center;
  color: white;
}
.box-3 .col-lg-12 {
  height: 100%;
  background-image: url(../img/house.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .upper {
    margin-left: 20px;
    width: 94%;

  }
  .box-2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .box-3 {
    padding-right: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .box-2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .box-3 {
    padding-right: 20px;
  }
}
